body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.display {
    display: flex;
    font-size: 64px;
    justify-content: space-around;
}

